---
# File:        group_vars/all.yml
# Description: group_vars for "all" hosts in the inventory file


# Enter the password for postgress awx user

"awx_pguser_password": password

# Enter the password for postgress awx user

"olam_admin_password": admin

# NOTE: use these passwords for demo purposes only, use other ansible features to
# protect your passwords such as using ansible-vault to encrypt passwords.

# Set proxy if needed
# Uncomment both the pip_proxy_env and proxy_env sections, and set the proxy host and port accordingly.

pip_proxy_env:
#  http_proxy: 'http://www.example.com:80
#  https_proxy: 'https://www.example.com:80'

proxy_env:
#  http_proxy: 'www.example.com:80'
#  https_proxy: 'www.example.com:80'
#  ftp_proxy: 'www.example.com:80'
#  no_proxy: 'localhost,127.0.0.1,example.com'
